@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #675afe;
    background-image: linear-gradient(#2295C3,  #2DFD76);
}
.wrapper{
    width: 370px;
    padding: 30px;
    border-radius: 7px;
    background: #fff;
}
.wrapper header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.wrapper form{
    margin: 40px 0 20px 0;
}
form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
}
form p{
    font-size: 18px;
    margin-bottom: 5px;
}
form input{
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
}
form input:focus{
    padding: 0 14px;
    border: 2px solid #675afe;
}
form .drop-list{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.drop-list .select-box{
    display: flex;
    height: 45px;
    width: 115px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
}
.select-box select{
    width: auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
}
.select-box select::-webkit-scrollbar{
    width: 8px;
}
.select-box select::-webkit-scrollbar-track{
    background: #fff;
}
.select-box select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #fff;
}
.select-box img{
    max-width: 25px;
    
}
.drop-list .icon{
    cursor: pointer;
    font-size: 22px;
    margin-top: 30px;
}
form .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
}
form button{
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: #675afe;
}
header {
    font-family: 'roboto', sans-serif;
    line-height: 1.6;
    background-color: #007bff;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.container {
    font-family: 'roboto', sans-serif;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header .container {
    font-family: 'roboto', sans-serif;
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    font-family: 'roboto', sans-serif;
    line-height: 1.6;
    font-size: 2rem;
    font-weight: 700;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 2rem;
}
nav ul li a {
    line-height: 1.6;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s;
    font-family: 'roboto', sans-serif;
}
nav ul li a:hover {
    color: #ffd700;
}